*{
    /*
    علشان اخلي كل الاسكرول ناعم
    */
    scroll-behavior: smooth;
}
.app {
  /*
    to cover all page minmum
    */
  min-height: 100vh;
  background-color: #39445a;
  color: white;
  padding-top: 120px;
  padding-bottom: 70px;
}
@media (max-width: 767px) {
  .app {
    padding-top: 80px;
  }
}

.pageTitle {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding: 4px;
  font-size: 2vw;
  border-radius: 50px;
  color: white;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 767px) {
  .pageTitle {
    font-size: 6vw;
  }
}
